/* Styling for Shop Components */

/* Shop Page */

.products-container {
  display: flex;
  border: 3px solid yellow;
  flex-wrap: wrap;
}

.product {
  border: 1px solid red;
  margin: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.product-img {
  border: 3px solid white;
  margin: auto;
}

.product-info {
  border: 3px solid pink;
  padding-left: 25px;
}

/* Product Details */

.details-return {
  border: 3px solid red;
}

.details-main-container {
  border: 5px solid purple;
  display: flex;
}

.details-more-container {
  border: 5px solid black;
}

/* Searchbar */