/* Styling for Shop Components */

/* Shop Page */

.products-container {
  display: flex;
  border: 3px solid yellow;
  flex-wrap: wrap;
}

.product {
  border: 1px solid red;
  margin: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.product-img {
  border: 3px solid white;
  margin: auto;
}

.product-info {
  border: 3px solid pink;
  padding-left: 25px;
}

/* Product Details */

/* .details-return {
  border: 3px solid red;
} */

.details-main-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-right: 140px;
}

.description-cart {
  margin-left: 100px;
}

#details-name {
  font-size: xx-large;
}

#actual-description {
  border: 3px inset lightblue;
}

.details-more-container {
  border: 3px outset lightblue;
}

.more-like-this-container img {
  margin: 12px;
}

/* Searchbar */