.vert-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horiz-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.horiz-container {
    display: flex;
    align-items: center;
}

/* LOGIN/REGISTER FORMS */

.user-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
    padding: 25px 25px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 14pt;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.passwords-different {
    border-color: rgb(207, 22, 22);
}

.user-form input {
    flex-grow: 1;
    border-style: none;
    outline: none;
    background-color: rgb(6, 6, 77);
}

.login-button {
    border: 2px solid;
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    background-color: lightblue;
}

.error-container {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(207, 22, 22);
}

.error-img {
    background-color: rgb(207, 22, 22);
    margin-right: 5px;
}

.error-msg {
    background-color: rgb(207, 22, 22);
    flex-grow: 1;
}

.centered {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.no-underline {
    text-decoration: none;
}

.icon-bubble {
    font-size: 2em;
    padding: 5px;
}

/* PROFILE */

.profile-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 15px;
    border: 2px solid;
    border-radius: 10px;
    color: lightblue;
}

.light-mode .profile-card {
    color: rgb(6, 6, 77);
}

.profile-card-img {
    font-size: 5em;
    margin-top: 20px;
}

.profile-navbar-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.profile-navbar {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.profile-navbar-icon {
    font-size: 2em;
    color: lightblue;
}

/* ADDRESSES */

.address-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 14pt;
    width: 420px;
}

.address-element {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2px;
    margin: 5px;
    border: 2px solid rgb(32, 32, 102);
    border-radius: 5px;
    background-color: rgb(32, 32, 102);
}

.light-mode .address-element {
    border-color: lightblue;
    background-color: lightblue;
}

.address-label {
    color: lightcyan;
    font-size: 10pt;
    background-color: rgb(32, 32, 102);;
}

.light-mode .address-label {
    color: #551a8b;
    background-color: lightblue;
}

.address-value {
    font-weight: bold;
    background-color: rgb(32, 32, 102);
}

.light-mode .address-value {
    background-color: lightblue;
}

.address-number {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkcyan;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    font-weight: bold;
}

.primary-address {
    background-color: darkcyan;
}

.new-address-button {
    margin: 20px;
    padding: 5px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightgray;
}

.new-address-button-label {
    padding: 5px;
    font-weight: bold;
    color: darkcyan;
}

.new-address-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 2em;
    padding: 2px;
    background-color: darkcyan;
    color: lightgray;
}

.address-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 50px;
    width: 350px;
    padding: 25px 25px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 14pt;
    background-color: rgb(6, 6, 77);
    /* color: #551a8b; */
}

.light-mode .address-form {
    background-color: whitesmoke;
}

.address-form input {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(32, 32, 102);
    color: lightblue;
}

.light-mode .address-form input {
    background-color: white;
    color: black;
}

.address-input-container {
    display: flex;
    flex-direction: column;
}

.address-state-select {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(32, 32, 102);
    color: lightblue;
}

.light-mode .address-state-select {
    background-color: white;
    color: black;
}

.address-zipcode-input {
    max-width: 60px;
}

.add-address-button {
    padding: 5px 25px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* SETTINGS */

.setting-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

/* SLIDER */

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: darkcyan;
}

input:focus + .slider {
    box-shadow: 0 0 1px darkcyan;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}




/* MOVE TO shop.css */

/* New Product */

.product-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 400px;
    padding: 25px 25px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 14pt;
}

.product-form input {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
    width: 300px;
}

.product-form textarea {
    padding: 5px;
    border: 2px solid;
    border-radius: 5px;
}

.product-input-container {
    display: flex;
    flex-direction: column;
}

.product-form .numeric-input {
    width: 60px;
}