/* Styling for General Components */

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meera+Inimai&display=swap');

/* App */

header {
  background-image: url('https://i.imgur.com/C9DLjKS.png');
  padding: 10px;
}

header h1 {
  text-align: center;
  font-family: 'Rubik Mono one';
  color: lightgray;
  color: #dabfbb; 
  /* pink is nice, but is this yellow better??? */
  color: #ea980b;
}

/* Navbar */

.navbar-return {
  display: flex;
  justify-content: center;
  background-color: #1b1b1b;
  height: 1.8em;
  padding: 10px 10px 10px 10px;
  align-items: center;
  /* border: 5px solid red; */
  /* margin-bottom: 15px; */
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 700px;
  background-color: #1b1b1b;
  font-family: 'Meera Inimai', sans-serif;
  font-size: x-large;
  padding: 5px 5px 5px 5px;
  /* border: 3px solid lightblue; */
}

.navbar a {
  text-decoration: none;
  background-color: #1b1b1b;
  color: #f5a3dd;
  color: lightgray;
}

footer {
  text-align: center;
  margin-top: 50px;
}

footer a {
  color: #ea980b;
}

/* ErrorPage */

.error-return h1 {
  font-family: 'Supermercado One';
  text-align: center;
}