/* Styling for General Components */

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Supermercado+One&display=swap');

/* App */

header {
  background-image: url('https://images5.alphacoders.com/357/357824.jpg');
  padding: 10px;
}

header h1 {
  text-align: center;
  font-family: 'Rubik Mono one';
  color: lightgray;
}

/* Navbar */

.navbar-return {
  display: flex;
  justify-content: center;
  background-color: darkcyan;
  /* border: 5px solid red; */
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 700px;
  background-color: darkcyan;
  /* border: 3px solid lightblue; */
}

.navbar a {
  text-decoration: none;
  background-color: darkcyan;
  
}

footer {
  text-align: center;
}

/* ErrorPage */

.error-return h1 {
  font-family: 'Supermercado One';
  text-align: center;
}