/* Styling for Universal Components */

/* * {
  color: lightblue;
  background-color: rgb(6, 6, 77);
} */

body {
  color: lightgray;
  background-color: black;
}

.light-mode {
  color: black;
  background-color: white;
}